#bodypartleftArm {
  position: fixed;
  bottom: 50%;
  right: 15%;
  height: 275px;
  width: 200px;
  z-index: 10040;
  border: 15px groove white;
  border-radius: 5%;
  -webkit-animation-name: redpulse;
 -webkit-animation-duration: 2s;
 -webkit-animation-iteration-count: infinite;
}

#bodypartrightArm {
  position: fixed;
  bottom: 50%;
  width: 200px;
  height: 275px;
  right: 70%;
  z-index: 10040;
  border: 15px groove white;
  border-radius: 5%;
  -webkit-animation-name: redpulse;
 -webkit-animation-duration: 2s;
 -webkit-animation-iteration-count: infinite;
}

#bodypartleftLeg {
  position: fixed;
  bottom: 30%;
  right: 20%;
  width: 200px;
  height: 275px;
  z-index: 10040;
  border: 15px groove white;
  border-radius: 5%;
  -webkit-animation-name: redpulse;
 -webkit-animation-duration: 2s;
 -webkit-animation-iteration-count: infinite;
}

#bodypartrightLeg {
  position: fixed;
  bottom: 30%;
  height: 275px;
  width: 200px;
  right: 65%;
  z-index: 10040;
  border: 15px groove white;
  border-radius: 5%;
  -webkit-animation-name: redpulse;
 -webkit-animation-duration: 2s;
 -webkit-animation-iteration-count: infinite;
}

#bodypartbody {
  position: fixed;
  width: 200px;
  top: 2%;
  bottom: 70%;
  height: 275px;
  right: 64%;
  z-index: 10040;
  border: 15px groove white;
  border-radius: 5%;
  padding: 4px;
  -webkit-animation-name: redpulse;
 -webkit-animation-duration: 2s;
 -webkit-animation-iteration-count: infinite;
}

#bodyparthead {
  position: fixed;
  width: 200px;
  height: 275px;
  top: 2%;
  right: 25%;
  z-index: 10040;
  border: 15px groove white;
  border-radius: 5%;
  -webkit-animation-name: redpulse;
 -webkit-animation-duration: 2s;
 -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes redpulse {
  from { background-color: #FF0404; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #D41C1C; -webkit-box-shadow: 0 0 18px #FF0000; }
  to { background-color: #DD4A4A; -webkit-box-shadow: 0 0 9px #333; }
}


#c1, #c2, #c3 {
  width: 33%
}

#quizCon{
  /* length: 10%;
  height: 10%:
  position: absolute;
  bottom: 50%;
  right: 0%;
  margin-right: 66%;
  margin-top: 25px;
  right: 0%; */
  z-index: 10040;
  border: 15px groove white;
  border-radius: 5%;
  length: 100vh;
-webkit-animation-name: redpulse;
 -webkit-animation-duration: 10s;
 -webkit-animation-iteration-count: infinite;

}

#backdrop{
  position: fixed;
  margin-left: 33%;
}

#medicCon{
  /* position: absolute;
  margin-left: 66%; */
}

body {
  background-image:url("https://i.imgur.com/kDibJ7U.png");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
   font-family:Courier;
   color:yellow;

}

button{
	-moz-box-shadow: -5px 5px 50px 0px #ff1414;
	-webkit-box-shadow: -5px 5px 50px 0px #ff1414;
	box-shadow: -5px 5px 50px 0px #ff1414;
	background-color:#303bad;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:17px;
	font-weight:bold;
	padding:19px 46px;
	text-decoration:none;
	text-shadow:3px 4px 12px #662828;
}
button.hover {
	background-color:#9c0e0e;
}
button:active {
	position:relative;
	top:1px;
}


#startImg {
  position: relative;

  height: 475px;
  right: -515px;
}


#start {
	-moz-box-shadow: -3px -8px 50px 50px #000000;
	-webkit-box-shadow: -3px -8px 50px 50px #000000;
	box-shadow: -3px -8px 50px 50px #000000;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ad1111), color-stop(1, #bd8282));
	background:-moz-linear-gradient(top, #ad1111 5%, #bd8282 100%);
	background:-webkit-linear-gradient(top, #ad1111 5%, #bd8282 100%);
	background:-o-linear-gradient(top, #ad1111 5%, #bd8282 100%);
	background:-ms-linear-gradient(top, #ad1111 5%, #bd8282 100%);
	background:linear-gradient(to bottom, #ad1111 5%, #bd8282 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad1111', endColorstr='#bd8282',GradientType=0);
	background-color:#ad1111;
	border:7px solid #343c94;
	display:inline-block;
	cursor:pointer;
	color:#ffbfff;
	font-family:Georgia;
	font-size:28px;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:7px 5px 14px #4c95d4;
  -webkit-animation: under-pressure 0.5s linear infinite both;
    animation: under-pressure 0.3s linear infinite both;
}

@-webkit-keyframes under-pressure {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes under-pressure {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

#start:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bd8282), color-stop(1, #ad1111));
	background:-moz-linear-gradient(top, #bd8282 5%, #ad1111 100%);
	background:-webkit-linear-gradient(top, #bd8282 5%, #ad1111 100%);
	background:-o-linear-gradient(top, #bd8282 5%, #ad1111 100%);
	background:-ms-linear-gradient(top, #bd8282 5%, #ad1111 100%);
	background:linear-gradient(to bottom, #bd8282 5%, #ad1111 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd8282', endColorstr='#ad1111',GradientType=0);
	background-color:#bd8282;
}
