#bodypartleftArm {
  position: absolute;
  bottom: 50%;
  right: 15%;
  width: 200px;
  z-index: 10040;
  box-shadow: 0px 0px 50px red;
  border-style: solid;
  border-color: black;
}

#bodypartrightArm {
  position: absolute;
  bottom: 50%;
  width: 200px;
  right: 70%;
  z-index: 10040;
  box-shadow: 0px 0px 50px red;
  border-style: solid;
  border-color: black;
}

#bodypartleftLeg {
  position: absolute;
  bottom: 30%;
  right: 20%;
  width: 200px;
  z-index: 10040;
  box-shadow: 0px 0px 50px red;
  padding: 4px;
  border-style: solid;
  border-color: black;
}

#bodypartrightLeg {
  position: absolute;
  bottom: 30%;
  width: 200px;
  right: 65%;
  z-index: 10040;
  box-shadow: 0px 0px 50px red;
  padding: 4px;
  border-style: solid;
  border-color: black;
}

#bodypartbody {
  position: absolute;
  width: 200px;
  top: 2%;
  bottom: 70%;
  right: 64%;
  z-index: 10040;
  box-shadow: 0px 0px 50px red;
  padding: 4px;
  border-style: solid;
  border-color: black;
}

#bodyparthead {
  position: absolute;
  width: 200px;
  top: 2%;
  right: 25%;
  z-index: 10040;
  box-shadow: 0px 0px 50px red;
  padding: 4px;
  border-style: solid;
  border-color: black;
}

#c1, #c2, #c3 {
  width: 33%
}

#quizCon{
  /* length: 10%;
  height: 10%:
  position: absolute;
  bottom: 50%;
  right: 0%;
  margin-right: 66%;
  margin-top: 25px; 
  right: 0%; */
  z-index: 10040;
  box-shadow: 0px 0px 50px red;
  padding: 4px;
  border-style: solid;
  border-color: black;
  length: 100vh;

}

#backdrop{
  position: absolute;
  margin-left: 33%;
}

#medicCon{
  /* position: absolute;
  margin-left: 66%; */
}
